* {
    margin: 0;
}
html {
    overflow: hidden;
}

h1, h2, p, fieldset, h3, a, input, span {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

.viewport {
    width: 100vw;
    height: 100vh;
}